*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: royalblue;
}
.menu a:hover{
	background-color: royalblue;
	color: seashell;
}
body{
	background-image: url('../img/black-background.jpg');
	background-size: 100vw 100vh;
	font-family: 'Montserrat', sans-serif;
}
/*se a tela tiver pelo menos 400px de largura*/
@media(min-width: 400px){
	body{
		font-size: 14px;
	}
}	
.cabecalho{
	text-align: center;
	transform: scale(0.2) translateY(50vh);
	opacity: 0;
	animation: 1s linear 2s animacaoCabecalho forwards;/*animação criada abaixo no keyframe*/
}
@keyframes animacaoCabecalho{
	0%{

	}100%{
		transform: scale(1) translateY(0vh);
		opacity: 100;
	}
}
header{
	display: flex;/*Força todas as filhas virarem coluna*/
	height: 100vh;
	justify-content: center;/*só funciona com o dysplay flex*/
	align-items: center;
}
.img-titulo{
	border-radius: 100%;
	height: auto;
	width: 130px;
}
.img-portfolio{
	height: auto;
	width: 210px;
	object-fit: cover;/*corta a imagem*/
	object-position: center;/*corta em relação ao centro*/
	transition: transform 0.5s;
}
.img-portfolio:hover{
	transform: scale(1.1) rotate(30deg) ;
}
.menu{
	background-color: white;
	position: fixed ;
	top: 0;
	width: 100vw;
	z-index: 1;
}
.menu a{
	display: block;
	font-size: 1.2em;
	padding: 9px 9vw;
	transition: background-color 1s, color 1s;/*tudo q vai mudar*/
}
.menu li{
	list-style: none;
}
.menu ul{
	display:flex;/*Força todas as filhas virarem coluna*/
	justify-content:space-around;/*só funciona com o dysplay flex*/
}

.contato a{
	color: whitesmoke;
	font-size: 2.5em;
	transition: text-shadow 0.5s;;
}
.contato a:active,
.contato a:hover{
	color: whitesmoke;
	background-color:black;
	text-shadow: 0em 0em 20px royalblue;
}
.contato, .portfolio{
	background-color: black;
	color: royalblue; 
	padding: 1em 1em;
	min-height: 100vh;
	align-content: center;
}
.contato,.portfolio h2{
	text-align: center;
	font-size: 2em;
	margin-bottom: 1em;
	text-shadow: 1.5px 0px white;
}
.portfolio .grid{
	align-content: center;
	display: grid;
	grid-template-columns: 240px 240px;
	height: calc(100vh - 24px );
	justify-content: center;
	text-align: center;
	/*gap: 2em; /*só funciona com o display grid*/
}
@media(min-width:650px){
	.portfolio .grid{
		align-content: center;
		text-align: center;
	}
}
@media(min-width:1100px){
	.portfolio .grid{
		align-content: center;
		grid-template-columns: repeat(4,260px);
		text-align: center;
	}
	.img-portfolio{
		width: 240px;
	}
}
.site-subtitle,.site-title{
	color: whitesmoke;
	text-align: center;
	
}
.site-title{
	font-size: 3em;/*tamanho relativo*/
}
.site-subtitle{
	font-style: italic;
	font-size: 1.5em;/*tamanho relativo*/
	line-height: 1em;	
}


	